<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- CONSTANT DEFNITIONS -->

    <xacro:property name="robot_size_x" value="0.22"/>
    <xacro:property name="robot_size_y" value="0.15"/>
    <xacro:property name="robot_size_z" value="0.07"/>

    <xacro:property name="radius_wheel" value="0.033" />
    <xacro:property name="height_wheel" value="0.026" />
    
    <xacro:property name="idler_wheel_radius" value="0.15" />

</robot>